{% extends 'base.html.twig' %}

{% block title %}Accueil - Stubborn{% endblock %}

{% block body %}
<style>
    .products {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .product {
        border: 2px solid #00236b;
        border-radius: 10px;
        padding: 15px;
        background-color: #fff;
        width: 250px;
    }

    .product img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        padding-bottom: 15px;
    }

    .product-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .product-text {
        display: flex;
        flex-direction: column;
    }

    .product h3 {
        margin-top: 10px;
        font-size: 18px;
        color: #00236b;
        font-weight: bold;
        
    }

  

    .product p {
        font-size: 16px;
        margin-top: 5px;
    }

    .btn-view {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #89b0ff;
        color: #fff;
        padding: 8px 12px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 20px;
        border: none;
        margin-left: 15px;
        width: 6em;
        height: 2em;
    }

    .btn-view:hover {
        background-color: #00236b;
    }

    /* Responsive à partir de 600px */
    @media (min-width: 600px) {
        .products {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .product {
            width: 280px;
        }
    }
</style>

<section class="products">
    {% for product in products %}
        <div class="product">
            <img src="{{ asset(product.img) }}" alt="{{ product.name }}">

            {% if app.user %}
                <div class="product-content">
                    <div class="product-text">
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.price }} €</p>
                    </div>
                    <a class="btn-view">VOIR</a>
                </div>
            {% else %}
                <h3>{{ product.name }}</h3>
                <p>{{ product.price }} €</p>
            {% endif %}
        </div>
    {% endfor %}
</section>
{% endblock %}
