{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - Stubborn{% endblock %}

{% block body %}
<style>

.product-container {
    max-width: 1200px;
    padding: 30px;
    margin: 40px auto;
    border: 5px solid #00236b;
    border-radius: 30px;
    background-color: #eef4ff;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.body-space{
    margin: 0 10px;
}

.product-img {
    flex: 1 1 50%;
    text-align: center;
}

.product-img img {
    max-width: 400px;
    min-width: 380px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-info {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
}

.product-info h1 {
    font-size: 45px;
    color: #00236b;
    border-bottom: 3px solid #89b0ff;
    padding-bottom: 15px;
    max-width:20em;
}

.product-info p {
    font-size: 22px;
    color: #00236b;
}

.size-selector {
    display: flex;
    flex-direction: column;
    max-width:20em;
}

.size-selector select {
    padding: 12px;
    border-radius: 5px;
    border: 2px solid #00236b;
    font-size: 18px;
    width: 100%;
    background-color: #fff;
}

.size-selector select option:disabled {
    color: #ccc;
}







@media (min-width: 655px) {
   .btn-add {
        margin-top:5em;
    }
    .product-img img {
        max-width: 550px;
        min-width: 400px;
    }
}


@media (min-width: 900px) {
   .btn-add {
        margin-top:10em;
    } 
}

</style>
<nav class="breadcrumb">
    <a href="{{ path('homepage') }}">Accueil</a> &gt; <a href="{{ path('products_list') }}">Boutique</a> &gt; <span>{{ product.name }}</span>
</nav>

<div class="body-space">
<div class="product-container">
    <div class="product-img">
        <img src="{{ asset(product.img) }}" alt="{{ product.name }}">
    </div>

    <div class="product-info">
        <h1>{{ product.name }}</h1>
        <p>{{ product.price }} €</p>

        <form method="post">
            <div class="size-selector">
                <select name="size" id="size" required>
                    <option value="" disabled selected hidden>Taille</option>
                    {% for stock in product.stocks %}
                        <option value="{{ stock.size.value }}" {% if stock.quantity == 0 %}disabled{% endif %}>
                            {{ stock.size.value }} {% if stock.quantity == 0 %}(Rupture){% endif %}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <input type="hidden" name="quantity" value="1">

            <button type="submit" class="btn-add">Ajouter au panier</button>
        </form>
    </div>
</div>
</div>
{% endblock %}
