<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Stubborn{% endblock %}</title>
    <link rel="icon" type="image/jpeg" href="{{ asset('img/favicon-stubborn.png') }}">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color:#eef4ff;
            color:#00091d;
        }
        input {
            color:#00091d;
        }
        .header {
            padding: 20px;
            border-bottom: 2px solid #00236b;
        }
        .container-header {
            display: flex;
            flex-direction: column;  /* Par défaut: vertical */
            align-items: center;
            margin: 0 20px;
            text-align: center;
        }
        .logo div {
            font-size: 5px;
            text-transform:uppercase;
            letter-spacing: -1.5px;
        }
        .logo img {
            max-width: 200px;
        }
        
        .nav-links {
            margin-top: 20px;
        }

        .nav-links a {
            display: inline-block;
            margin: 8px 10px; /* 8px vertical, 10px horizontal */
            text-decoration: none;
        }
        
        .nav-links a:hover, 
        .nav-links a.active {
            text-decoration: underline;
            font-weight: bold;
        }

        .logout{
            padding-left:2em;
        }

        .footer {
            text-align: left;
            padding: 10px;
            border-top: 2px solid #00236b;
            margin-top: 20px;
        }

        /* À partir d'un écran de 600px */
        @media screen and (min-width: 600px) {
            .container-header {
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;  /* Aligné en haut */
                text-align: left;
            }

            .nav-links {
                display: flex;
                flex-direction: row;      /* Alignement horizontal */
                align-items: flex-start;  /* Aligner le haut des liens */
                margin-top: 0;
            }

            .nav-links a {
                margin: 0 10px;  /* Espace horizontal entre les liens */
            }

            .logo {
                text-align: right;
            }
        }

    </style>
</head>
<body>

<header class="header">
<div class="container-header">
    <div class="logo">
        <a href="{{ path('homepage') }}"><img src="{{ asset('img/logo-stubborn.png') }}" alt="Stubborn" style="height: 100px;"></a>
        <div style="font-size: 12px;">Don't compromise on your look</div>
    </div>
    <nav class="nav-links">
    {% if app.user %}
        {% if 'ROLE_CUSTOMER' in app.user.roles %}
            <!-- Menu pour Customer -->
            <a href="{{ path('homepage') }}" class="{% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}">Accueil</a>
            <a href="{{ path('products_list') }}" class="{% if app.request.attributes.get('_route') == 'products_list' %}active{% endif %}">Boutique</a>
            <a href="{{ path('cart_show') }}" class="{% if app.request.attributes.get('_route') == 'cart_show' %}active{% endif %}">Panier</a>
            <a href="{{ path('app_logout') }}" class="logout">Se déconnecter</a>
        
        {% elseif 'ROLE_ADMIN' in app.user.roles %}
            <!-- Menu pour Admin -->
            <a href="{{ path('products_list') }}" class="{% if app.request.attributes.get('_route') == 'products_list' %}active{% endif %}">Boutique</a>
            <a href="{{ path('app_logout') }}" class="logout">Se déconnecter</a>
        
        {% else %}
            <!-- Cas par défaut pour tout autre utilisateur connecté -->
            <a href="{{ path('homepage') }}" class="{% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}">Accueil</a>
            <a href="{{ path('app_logout') }}" class="logout">Se déconnecter</a>
        {% endif %}
    
    {% else %}
        <!-- Menu pour les utilisateurs non connectés -->
        <a href="{{ path('homepage') }}" class="{% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}">Accueil</a>
        <a href="{{ path('app_register') }}" class="{% if app.request.attributes.get('_route') == 'app_register' %}active{% endif %}">S'inscrire</a>
        <a href="{{ path('app_login') }}" class="{% if app.request.attributes.get('_route') == 'app_login' %}active{% endif %}">Se connecter</a>
    {% endif %}
</nav>

</div>
</header>

<main>
    {% block body %}{% endblock %}
</main>

<footer class="footer">
    <div class="footer-content">
        <p><strong>Stubborn</strong> | Piccadilly Circus, London W1J 0DA, Royaume-Uni | <a href="mailto:stubborn@blabla.com">stubborn@blabla.com</a></p>
    </div>
</footer>


</body>
</html>
